/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-image: url('assets/img/background.jpg');
    background-attachment: fixed;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
