
<div class="neon miroir homebody container-fluid text-center">    
  <div class="row content">
    <div> 
      <h1>BIENVENU</h1>
      <p>Nous sommes ravis de vous accueillir sur notre application, ici, 
        vous pourrez retrouver une multitude de jeux, sur diverse plateforme, 
        présents dans notre magasin GameShop. En passant par notre sélection 
        de jeu rétro, à notre fabuleux nouvel arrivage de moderne, venez 
        vous amuser avec Mario, mangez tous avec Pac-Man ou encore dominez 
        les games sur Battlefiled 2042 !</p>
      <hr>
      <p>Cette application a été créé uniquement à but informatif, pour tout 
        achat ou vente de produit, merci de vous rendre directement en magasin.</p>
    </div>
  </div>
</div>